<a href="https://colab.research.google.com/github/KARENCMP82/Python/blob/main/Clase_4_Ejercicios_Pandas_DataFrames_EJERCICIO_TITANIC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Nuclio logo](https://nuclio.school/wp-content/uploads/2018/12/nucleoDS-newBlack.png)

#Ejercicios Pandas **Dataframes**

## Tabla de datos Titanic

El fichero titanic.csv contiene información sobre los pasajeros del Titanic. Escribir un programa con los siguientes requisitos:

0. Generar un DataFrame con los datos del fichero. Para importar usaremos Pandas.
1. Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas
2. Identifique qué columnas tienen valores nulos
3. Sustituya los valores nulos en la columna "Cabin" por el valor más frecuente (moda)
4. Elimine las filas donde la columna 'Embarked' está nula.
5. Verifique si hay filas duplicadas en el conjunto de datos.Elimine, si los hay
6. Mostrar por pantalla los datos del pasajero con identificador 148.
7. Mostrar por pantalla las filas pares del DataFrame.
8. Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.
9. Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.
10. Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.
11. Eliminar del DataFrame los pasajeros con edad desconocida.
12. Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.
13. Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.
14.Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.

BONUS

- Calcule y visualice la proporción de supervivientes por género.
- Calcule y visualice la proporción de supervivientes por clase de pasajero.
- Calcule y visualice la tasa de supervivencia para cada lugar de embarque.

## Resolución

0. Generar un DataFrame con los datos del fichero. Para importar usaremos Pandas.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
#leemos el fichero IMDB
imdb=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Ejercicios/bmw_pricing_v3.csv")
# Cargar archivo CSV como DataFrame ver los 5 primero registros
imdb.head()

1. Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas

2. Identifique qué columnas tienen valores nulos

3. Sustituya los valores nulos en la columna "Cabin" por el valor más frecuente (moda)

4. Elimine las filas donde la columna 'Embarked' está nula.

5. Verifique si hay filas duplicadas en el conjunto de datos.Elimine, si los hay

6. Mostrar por pantalla los datos del pasajero con identificador 148.

7. Mostrar por pantalla las filas pares del DataFrame.

8. Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.

9. Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.

10. Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.

11. Eliminar del DataFrame los pasajeros con edad desconocida.

12. Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.

13. Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.

14.Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.

BONUS

Calcule y visualice la proporción de supervivientes por género.

Calcule y visualice la proporción de supervivientes por clase de pasajero.

Calcule y visualice la tasa de supervivencia para cada lugar de embarque.