<a href="https://colab.research.google.com/github/KARENCMP82/Python/blob/main/Clasificacion_Clase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# JFK Delay prediction

Importe librerias

In [58]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# import libraries for plotting
import matplotlib.pyplot as plt
import seaborn as sns
# from matplotlib import pyplot as plt
%matplotlib inline
plt.style.use('ggplot')
pd.set_option('display.max_rows', 500)
pd.options.display.float_format = '{:,.2f}'.format

También cargaremos todas las funciones de preprocesamientoo de scikit-learn, contenidas en el **scikit preprocessing**.

In [59]:
from sklearn import preprocessing

Y aprovecharemos para comprobar la **versión instalada de scikit-learn**.

In [60]:
from sklearn import __version__ as sklearn_version
print('La versión instalada de scikit-learn es {}.'.format(sklearn_version))

La versión instalada de scikit-learn es 1.6.1.

Antes de empezar a repasar la Machine Learning Checklist, importatemos el DataSet de trabajo (**JFKFlights**). Este Dataset se encuentra publicado en la página oficial del Departamento de transporte de Estados Unidos , aunque para facilitar el trabajo lo hemos trasladado a un link de descarga en internet (repositorio público en GitHub).

In [61]:
url1 = 'https://bit.ly/3bf6QNP'
url2 = 'https://bit.ly/3kLR2p3'
url_weather = 'https://raw.githubusercontent.com/Sitg35/Binary-Classifier-JFK/refs/heads/main/NYC_Weather_2016_2022.csv'

In [62]:
df1= pd.read_csv(url1, index_col=0)
#lee la url el csv, con el df1= hacemos q se guarde

In [63]:
df2= pd.read_csv(url2, index_col=0)

In [64]:
df3= pd.read_csv(url_weather, index_col=0)

Unir dos csv, se tuvieron q partir por tamaño

In [65]:
df= pd.concat([df1, df2], ignore_index=True)

In [66]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
OP_CARRIER_AIRLINE_ID,"237,644.00","20,152.00",297.88,"19,690.00","19,790.00","20,363.00","20,409.00","21,171.00"
CRS_DEP_TIME,"250,152.00","1,334.61",529.10,3.00,915.00,"1,258.00","1,744.00","2,359.00"
TAXI_OUT,"232,641.00",18.19,9.61,1.00,12.00,16.00,21.00,166.00
CRS_ARR_TIME,"250,152.00","1,419.13",580.99,1.00,944.00,"1,455.00","1,914.00","2,400.00"
ARR_DEL15,"250,152.00",0.21,0.41,0.00,0.00,0.00,0.00,1.00
CRS_ELAPSED_TIME,"250,152.00",195.65,97.37,47.00,109.00,167.00,306.00,595.00
DISTANCE,"250,152.00","1,258.84",898.12,94.00,427.00,"1,028.00","2,248.00","4,983.00"

In [67]:
df.reset_index(drop = True, inplace = True)

In [68]:
df_weather = pd.read_csv(url_weather) #granularidad fecha y hora
print(df_weather)

                   time  temperature_2m (°C)  precipitation (mm)  rain (mm)  \
0      2016-01-01T00:00                 7.60                0.00       0.00
1      2016-01-01T01:00                 7.50                0.00       0.00
2      2016-01-01T02:00                 7.10                0.00       0.00
3      2016-01-01T03:00                 6.60                0.00       0.00
4      2016-01-01T04:00                 6.30                0.00       0.00
...                 ...                  ...                 ...        ...
59755  2022-10-25T19:00                  NaN                 NaN        NaN
59756  2022-10-25T20:00                  NaN                 NaN        NaN
59757  2022-10-25T21:00                  NaN                 NaN        NaN
59758  2022-10-25T22:00                  NaN                 NaN        NaN
59759  2022-10-25T23:00                  NaN                 NaN        NaN

       cloudcover (%)  cloudcover_low (%)  cloudcover_mid (%)  \
0               69.00               53.00                0.00
1               20.00                4.00                0.00
2               32.00                3.00                0.00
3               35.00                5.00                0.00
4               34.00                4.00                0.00
...               ...                 ...                 ...
59755             NaN                 NaN                 NaN
59756             NaN                 NaN                 NaN
59757             NaN                 NaN                 NaN
59758             NaN                 NaN                 NaN
59759             NaN                 NaN                 NaN

       cloudcover_high (%)  windspeed_10m (km/h)  winddirection_10m (°)
0                    72.00                 10.00                 296.00
1                    56.00                  9.80                 287.00
2                    99.00                  9.70                 285.00
3                   100.00                  9.20                 281.00
4                   100.00                  9.10                 279.00
...                    ...                   ...                    ...
59755                  NaN                   NaN                    NaN
59756                  NaN                   NaN                    NaN
59757                  NaN                   NaN                    NaN
59758                  NaN                   NaN                    NaN
59759                  NaN                   NaN                    NaN

[59760 rows x 10 columns]

In [69]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59760 entries, 0 to 59759
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   time                   59760 non-null  object
 1   temperature_2m (°C)    59592 non-null  float64
 2   precipitation (mm)     59592 non-null  float64
 3   rain (mm)              59592 non-null  float64
 4   cloudcover (%)         59592 non-null  float64
 5   cloudcover_low (%)     59592 non-null  float64
 6   cloudcover_mid (%)     59592 non-null  float64
 7   cloudcover_high (%)    59592 non-null  float64
 8   windspeed_10m (km/h)   59592 non-null  float64
 9   winddirection_10m (°)  59587 non-null  float64
dtypes: float64(9), object(1)
memory usage: 4.6+ MB

Transforma el índice actual de df_weather (que contiene la fecha y hora) en una columna llamada 'time'.
Esto crea un nuevo índice numérico por defecto

 Convierte los valores de la columna 'time' a tipo datetime, permitiendo operaciones de series temporales.
 NOTA: Para que la conversión se guarde en el DataFrame, debes asignar el resultado a df_weather['time'].

In [70]:
df_weather['time'] = pd.to_datetime(df_weather['time'])

DATA JOIN

In [71]:
df['FL_DATE'] = pd.to_datetime(df['FL_DATE'])
#LA PONEMOS COMO FECHA

jOIN SOO POR FECHA, HAY Q CAMBAR LA GRANULARIDAD DE DF.WEATHER A DIA

In [72]:
df_weather.set_index('time', inplace = True)

In [73]:
df_weather = df_weather.resample('D').mean() #TE PONE EL MINIMO DE CADA SEMANA

Hay muxas fechas u no las necesito todas por lo q vamos hacer mas limpieza

In [74]:
#Recoger la parete del data en q  la fecha sea menor o igual a la fecha max q hay en el df
df_weather = df_weather[(df_weather.index <= max(df['FL_DATE'])) & (df_weather.index >= min(df['FL_DATE']))].copy()

In [75]:
df_weather.columns = ['temperature_2m', 'precipitation', 'rain',
       'cloudcover', 'cloudcover_low', 'cloudcover_mid',
       'cloudcover_high', 'windspeed_10m', 'winddirection_10m']
       #renombramos las columnas. Si es exacatamente el nº de columnas q hay lo va a sobreescribir, hay otras formas de hacerlo

In [76]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 730 entries, 2018-01-01 to 2019-12-31
Freq: D
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   temperature_2m     730 non-null    float64
 1   precipitation      730 non-null    float64
 2   rain               730 non-null    float64
 3   cloudcover         730 non-null    float64
 4   cloudcover_low     730 non-null    float64
 5   cloudcover_mid     730 non-null    float64
 6   cloudcover_high    730 non-null    float64
 7   windspeed_10m      730 non-null    float64
 8   winddirection_10m  730 non-null    float64
dtypes: float64(9)
memory usage: 57.0 KB

In [77]:
df_weather['FL_DATE'] = df_weather.index

In [78]:
df = df.join(df_weather, on = 'FL_DATE', how='left', rsuffix='_w')#TODAS LAS COLUMN Q VIENE DE LE METEMOS UN _W

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250152 entries, 0 to 250151
Data columns (total 25 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   FL_DATE                250152 non-null  datetime64[ns]
 1   OP_CARRIER_AIRLINE_ID  237644 non-null  float64
 2   TAIL_NUM               235143 non-null  object
 3   ORIGIN                 250152 non-null  object
 4   ORIGIN_CITY_NAME       250152 non-null  object
 5   ORIGIN_STATE_NM        250152 non-null  object
 6   DEST                   250152 non-null  object
 7   DEST_CITY_NAME         250152 non-null  object
 8   DEST_STATE_NM          250152 non-null  object
 9   CRS_DEP_TIME           250152 non-null  int64
 10  TAXI_OUT               232641 non-null  float64
 11  CRS_ARR_TIME           250152 non-null  int64
 12  ARR_DEL15              250152 non-null  float64
 13  CRS_ELAPSED_TIME       250152 non-null  float64
 14  DISTANCE               250152 non-null  float64
 15  temperature_2m         250152 non-null  float64
 16  precipitation          250152 non-null  float64
 17  rain                   250152 non-null  float64
 18  cloudcover             250152 non-null  float64
 19  cloudcover_low         250152 non-null  float64
 20  cloudcover_mid         250152 non-null  float64
 21  cloudcover_high        250152 non-null  float64
 22  windspeed_10m          250152 non-null  float64
 23  winddirection_10m      250152 non-null  float64
 24  FL_DATE_w              250152 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(14), int64(2), object(7)
memory usage: 47.7+ MB

In [80]:
#borramos la columna de fl_date_w
df.drop('FL_DATE_w', axis = 1, inplace = True)

Data Understanding

#### 1. Tamaño del dataset

In [81]:
df.info(verbose=False)
#250152 entries no debe cambiar nunca

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250152 entries, 0 to 250151
Columns: 24 entries, FL_DATE to winddirection_10m
dtypes: datetime64[ns](1), float64(14), int64(2), object(7)
memory usage: 45.8+ MB

# Ver datos

In [82]:
df.head(4).T

,0,1,2,3
FL_DATE,2018-02-01 00:00:00,2018-02-01 00:00:00,2018-02-01 00:00:00,2018-02-01 00:00:00
OP_CARRIER_AIRLINE_ID,"20,363.00","20,363.00","20,363.00","20,363.00"
TAIL_NUM,N299PQ,N920XJ,N605LR,N800AY
ORIGIN,BNA,RDU,BUF,ORF
ORIGIN_CITY_NAME,"Nashville, TN","Raleigh/Durham, NC","Buffalo, NY","Norfolk, VA"
ORIGIN_STATE_NM,Tennessee,North Carolina,New York,Virginia
DEST,JFK,JFK,JFK,JFK
DEST_CITY_NAME,"New York, NY","New York, NY","New York, NY","New York, NY"
DEST_STATE_NM,New York,New York,New York,New York
CRS_DEP_TIME,1359,1354,1529,1704
TAXI_OUT,27.00,37.00,21.00,36.00
CRS_ARR_TIME,1719,1541,1709,1845
ARR_DEL15,0.00,0.00,0.00,0.00
CRS_ELAPSED_TIME,140.00,107.00,100.00,101.00
DISTANCE,765.00,427.00,301.00,290.00
temperature_2m,1.12,1.12,1.12,1.12
precipitation,0.00,0.00,0.00,0.00
rain,0.00,0.00,0.00,0.00
cloudcover,69.58,69.58,69.58,69.58
cloudcover_low,0.12,0.12,0.12,0.12
cloudcover_mid,68.21,68.21,68.21,68.21
cloudcover_high,94.88,94.88,94.88,94.88
windspeed_10m,10.54,10.54,10.54,10.54
winddirection_10m,200.67,200.67,200.67,200.67

A continuación se incluye la descripción de las variables:

* **FL_DATE**: Date of the observation
* **OP_CARRIER_AIRLINE_ID**: Identificador de la compañía aérea que opera el vuelo
* **TAIL_NUM**: Número de cola del avión, identificador único del avión
* **ORIGIN**: aeropuerto de origen
* **ORIGIN_CITY_NAME**: ciudad de origen
* **ORIGIN_STATE_NM**: estado (USA) de origen
* **DEST**: aeropuerto de destino, en este caso será siempre el JFK
* **DEST_CITY_NAME**: ciudad de destino, en este caso será siempre Nueva York
* **DEST_STATE_NM**: estado (USA) de destino, en este caso será siempre Nueva York
* **CRS_DEP_TIME**: hora prevista de salida
* **TAXI_OUT**: tiempo transcurrido entre la salida de la terminal y el despegue efectivo del avión
* **CRS_ARR_TIME**: hora prevista de llegada
* **ARR_DEL15**: booleana (1/0) indicando si el vuelo ha llegado con más de 15 minutos de retraso.
* **CRS_ELAPSED_TIME**: tiempo previsto de vuelo.
* **DISTANCE**: distancia entre aeropuertos

Deberemos elegir entre la variable **ARR_DELAY y ARR_DEL15** como predictivos, en este caso, como se trata de un modelo de clasificación, tomaremos como target la variable **ARR_DEL15**

In [87]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250152 entries, 0 to 250151
Columns: 24 entries, FL_DATE to winddirection_10m
dtypes: datetime64[ns](1), float64(14), int64(2), object(7)
memory usage: 45.8+ MB

In [88]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250152 entries, 0 to 250151
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   FL_DATE                250152 non-null  datetime64[ns]
 1   OP_CARRIER_AIRLINE_ID  237644 non-null  float64
 2   TAIL_NUM               235143 non-null  object
 3   ORIGIN                 250152 non-null  object
 4   ORIGIN_CITY_NAME       250152 non-null  object
 5   ORIGIN_STATE_NM        250152 non-null  object
 6   DEST                   250152 non-null  object
 7   DEST_CITY_NAME         250152 non-null  object
 8   DEST_STATE_NM          250152 non-null  object
 9   CRS_DEP_TIME           250152 non-null  int64
 10  TAXI_OUT               232641 non-null  float64
 11  CRS_ARR_TIME           250152 non-null  int64
 12  ARR_DEL15              250152 non-null  float64
 13  CRS_ELAPSED_TIME       250152 non-null  float64
 14  DISTANCE               250152 non-null  float64
 15  temperature_2m         250152 non-null  float64
 16  precipitation          250152 non-null  float64
 17  rain                   250152 non-null  float64
 18  cloudcover             250152 non-null  float64
 19  cloudcover_low         250152 non-null  float64
 20  cloudcover_mid         250152 non-null  float64
 21  cloudcover_high        250152 non-null  float64
 22  windspeed_10m          250152 non-null  float64
 23  winddirection_10m      250152 non-null  float64
dtypes: datetime64[ns](1), float64(14), int64(2), object(7)
memory usage: 45.8+ MB

In [83]:
df.describe(include=['object']).T

                   count unique              top    freq
TAIL_NUM          235143   2645           N110AN     761
ORIGIN            250152     72              LAX   25345
ORIGIN_CITY_NAME  250152     70  Los Angeles, CA   25345
ORIGIN_STATE_NM   250152     32       California   51137
DEST              250152      1              JFK  250152
DEST_CITY_NAME    250152      1     New York, NY  250152
DEST_STATE_NM     250152      1         New York  250152

In [84]:
df.describe(exclude=['object']).T

,count,mean,min,25%,50%,75%,max,std
FL_DATE,250152,2019-01-01 08:55:24.724167424,2018-01-01 00:00:00,2018-07-06 00:00:00,2018-12-30 00:00:00,2019-06-30 00:00:00,2019-12-31 00:00:00,NaN
OP_CARRIER_AIRLINE_ID,"237,644.00","20,152.00","19,690.00","19,790.00","20,363.00","20,409.00","21,171.00",297.88
CRS_DEP_TIME,"250,152.00","1,334.61",3.00,915.00,"1,258.00","1,744.00","2,359.00",529.10
TAXI_OUT,"232,641.00",18.19,1.00,12.00,16.00,21.00,166.00,9.61
CRS_ARR_TIME,"250,152.00","1,419.13",1.00,944.00,"1,455.00","1,914.00","2,400.00",580.99
ARR_DEL15,"250,152.00",0.21,0.00,0.00,0.00,0.00,1.00,0.41
CRS_ELAPSED_TIME,"250,152.00",195.65,47.00,109.00,167.00,306.00,595.00,97.37
DISTANCE,"250,152.00","1,258.84",94.00,427.00,"1,028.00","2,248.00","4,983.00",898.12
temperature_2m,"250,152.00",13.00,-13.85,4.48,13.45,22.01,31.32,9.72
precipitation,"250,152.00",0.15,0.00,0.00,0.00,0.15,2.39,0.29
rain,"250,152.00",0.14,0.00,0.00,0.00,0.14,2.39,0.29
cloudcover,"250,152.00",48.37,0.00,21.92,46.25,73.88,100.00,30.20
cloudcover_low,"250,152.00",28.81,0.00,2.29,19.71,48.29,100.00,29.70
cloudcover_mid,"250,152.00",31.51,0.00,8.75,25.21,49.08,99.88,26.53
cloudcover_high,"250,152.00",43.06,0.00,12.58,41.38,69.21,100.00,31.41
windspeed_10m,"250,152.00",11.25,4.35,8.14,10.45,13.31,31.89,4.44
winddirection_10m,"250,152.00",203.30,20.67,149.92,213.88,264.75,345.21,74.38

In [89]:
df.select_dtypes(include=['object']).describe().T

                   count unique              top    freq
TAIL_NUM          235143   2645           N110AN     761
ORIGIN            250152     72              LAX   25345
ORIGIN_CITY_NAME  250152     70  Los Angeles, CA   25345
ORIGIN_STATE_NM   250152     32       California   51137
DEST              250152      1              JFK  250152
DEST_CITY_NAME    250152      1     New York, NY  250152
DEST_STATE_NM     250152      1         New York  250152

In [85]:
#nulos
df.select_dtypes(include='object').isnull().sum()

TAIL_NUM            15009
ORIGIN                  0
ORIGIN_CITY_NAME        0
ORIGIN_STATE_NM         0
DEST                    0
DEST_CITY_NAME          0
DEST_STATE_NM           0
dtype: int64