<a href="https://colab.research.google.com/github/KARENCMP82/Python/blob/main/EjerciciosMiosTitanicModificado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Ejercicios simples de IF**
1. Determinar si un pasajero es mayor de edad.  
2. Verificar si un pasajero pertenece a la primera clase.  
3. Comprobar si una tarifa es mayor que 50.  
4. Evaluar si el lugar de embarque es 'C'.  

---

### **Ejercicios simples de FOR**
1. Mostrar todas las clases disponibles.  
2. Iterar por los géneros en la lista.  
3. Calcular el total de edades en una lista.  
4. Contar el número de pasajeros en cada clase.  

---

### **6 ejercicios avanzados con FOR y/o IF**
1. Calcular la edad promedio por clase.  
2. Contar el número de sobrevivientes y no sobrevivientes por género.  
3. Mostrar el porcentaje de menores y mayores de edad que sobrevivieron en cada lugar de embarque.  
4. Listar todos los nombres de los pasajeros sobrevivientes en cada clase.  
5. Calcular la tarifa promedio para hombres y mujeres en cada clase.  
6. Identificar el pasajero más joven y más viejo en cada lugar de embarque.

In [6]:
#Conexion
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
#leemos el fichero IMDB
titanic=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Ejercicios/titanic_modificado.csv")
# Cargar archivo CSV como DataFrame ver los 5 primero registros
titanic.head(20)

Mounted at /content/drive

,Id_pasaj,Sobrevivi,Clase,Nombre,Sexo,Edad,Hermanos/esposos_a_bordo,Padres/hijos_a_bordo,Billete,Tarifa,Cabina,Embarcado,MayorDeEdad
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,B96 B98,S,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,True
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,S,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,True
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,B96 B98,S,True
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,B96 B98,Q,False
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,True
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,B96 B98,S,False
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,B96 B98,S,True
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,B96 B98,C,False
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,False
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,True
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,B96 B98,S,True
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,B96 B98,S,True
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,B96 B98,S,False
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,B96 B98,S,True
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,B96 B98,Q,False
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,B96 B98,S,False
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,B96 B98,S,True
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,B96 B98,C,False

In [ ]:
#Modificar datos en ingles
titanic['Sexo']=titanic['Sexo'].replace({'female':'Mujer','male':'Hombre'})


**Ejercicios simples de IF**

Determinar si un pasajero es mayor de edad.

In [ ]:
# 113803
pasajero_id = 18

# Filtrar el DataFrame para encontrar el pasajero con el billete especificado
pasajero = titanic[titanic['Id_pasaj'] == pasajero_id]

# Verificar si el pasajero es mayor de edad
if not pasajero.empty and pasajero['Edad'].iloc[0] < 18:
    print("Es menor de edad")
elif not pasajero.empty and pasajero['Edad'].iloc[0] > 18:
    print("Es mayor de edad")
else:
    print("No tiene edad")

Verificar si un pasajero pertenece a la primera clase

In [ ]:
# 113803
pasajero_id = 18

# Filtrar el DataFrame para encontrar el pasajero con el billete especificado
pasajero = titanic[titanic['Id_pasaj'] == pasajero_id]

# Verificar la clase del pasajero
# iloc[0] valor de la columna x, necesario porq solo evalua una linea "pasajero"
# not pasajero.empty: verifica q no esta vacio
if not pasajero.empty and pasajero['Clase'].iloc[0] == 1:
    print("Es 1º clase")
elif not pasajero.empty and pasajero['Clase'].iloc[0] == 2:
    print("Es 2º clase")
elif not pasajero.empty and pasajero['Clase'].iloc[0] == 3:
    print("Es 3º clase")
else:
    print("No se encontró el pasajero o no pertenece a ninguna clase especificada")

Comprobar si una tarifa es mayor que 50.

In [ ]:
Tarifa = 17

pasajero = titanic[titanic['Id_pasaj'] == pasajero_id]
if not pasajero.empty and pasajero['Tarifa'].iloc[0]<=50:
    print("Es menor o igual que 50")
elif not pasajero.empty and pasajero['Tarifa'].iloc[0]>50:
    print("Es mayor que 50")
else:
    print("No se encontró el pasajero o no tiene Tarifa")

Evaluar si el lugar de embarque es 'C'

In [ ]:
Tarifa = 20

pasajero = titanic[titanic['Id_pasaj'] == pasajero_id]

if not pasajero.empty and pasajero['Embarcado'].iloc[0]=='C':
    print("Es embarcado en C")
elif not pasajero.empty and pasajero['Embarcado'].iloc[0]=='Q':
  print("Es embarcado en Q")
elif not pasajero.empty and pasajero['Embarcado'].iloc[0]=='S':
  print("Es embarcado en S")
else:
    print("No se tiene Embarque")

**Ejercicios simples de FOR**

Mostrar todas las clases disponibles.

In [ ]:
clasesUni = titanic['Clase'].unique()

for clase in clasesUni:  # Recorre cada clase
    print(f"Clase disponible: {clase}")

Iterar por los géneros en la lista.

In [ ]:
GeneroUni = titanic['Sexo'].unique()

for genero in GeneroUni:
  print(f"Generos disponibles: {genero}")

Calcular el total de edades en una lista.

In [ ]:
EdadeTotal = titanic['Edad'].unique()
OrdeEdad = sorted(EdadeTotal)  # Ordenar edades únicas
for edad in OrdeEdad: # Removed extra space before 'for'

    print(f"Edades disponible: {edad}")

Contar el número de pasajeros en cada clase.

In [ ]:
clase1 = titanic[titanic['Clase'] == 1]
clase2 = titanic[titanic['Clase'] == 2]
clase3 = titanic[titanic['Clase'] == 3]
count1 = len(clase1)  # Cuenta las filas en el DataFrame clase1
count2 = len(clase2)  # len(), que proporciona el número de elementos presentes en un iterable
count3 = len(clase3)

for clase in clase1: # Removed extra space before 'for'
    count1 += 1
for clase in clase2: # Removed extra space before 'for'
    count2 += 1
for clase in clase3: # Removed extra space before 'for'
    count3 += 1


print(f"El numero de la clase 1 : {count1}")
print(f"El numero de la clase 2 : {count2}")
print(f"El numero de la clase 3 : {count3}")

**Ejercicios avanzados con FOR y/o IF**

Calcular la edad promedio por clase.

In [ ]:
numero_de_lineas = titanic.shape[0]
print(f'El archivo CSV tiene {numero_de_lineas} líneas.')

In [ ]:
EdadeTotal = titanic['Edad'].unique()
OrdeEdad = sorted(EdadeTotal)  # Ordenar edades únicas
for edad in OrdeEdad: # Removed extra space before 'for'
     SumaEdad=edad.sum()
     #print(f"Edades disponible: {edad}")

resultado = SumaEdad / numero_de_lineas
print(resultado)

Contar el número de sobrevivientes y no sobrevivientes por género.

In [ ]:
#Contar el número de sobrevivientes y no sobrevivientes por género
Mujeres = titanic[titanic['Sexo'] == 'female']
Hombres = titanic[titanic['Sexo'] == 'male']

# Contadores
Mujer_sobrevive = 0
Hombres_sobrevive = 0
Mujer_muere = 0
Hombres_muere = 0

for _ in Mujeres['Sobrevivi']:
    if _ == 1:  # Si sobrevive
        Mujer_sobrevive += 1
    elif _ == 0:  # Si no sobrevive
        Mujer_muere += 1
for _ in Hombres['Sobrevivi']:
  if _==1:
    Hombres_sobrevive +=1
  elif _==0:
    Hombres_muere +=1



print(f"El numero q muere Mujeres: {Mujer_muere}, y el numero q sobrevive Mujeres: {Mujer_sobrevive}")
print(f"El numero q muere Hombres: {Hombres_muere}, y el numero q sobrevive Hombres: {Hombres_sobrevive}")

Mostrar el porcentaje de menores y mayores de edad que sobrevivieron en cada lugar de embarque.

In [ ]:
#Contar el número de sobrevivientes y no sobrevivientes por género
MayorEdad = titanic[titanic['Edad'] > 18]
MenorEdad = titanic[titanic['Edad'] < 18]
# Contadores
mayores_sobrevive = 0
menores_sobrevive = 0
mayores_muere = 0
menores_muere = 0

# Iterar sobre los mayores y contar quién sobrevive y quién no
for _ in MayorEdad['Sobrevivi']:
    if _ == 1:  # Si sobrevive
        mayores_sobrevive += 1
    elif _ == 0:  # Si no sobrevive
        mayores_muere += 1
for _ in MenorEdad['Sobrevivi']:
  if _==1:
    menores_sobrevive +=1
  elif _==0:
    menores_muere +=1

print(f"El numero q muere menores: {menores_muere}, y el numero q sobrevive menores: {menores_sobrevive}")
print(f"El numero q muere Mayores: {mayores_muere}, y el numero q sobrevive Mayores: {mayores_sobrevive}")

Listar todos los nombres de los pasajeros sobrevivientes en cada clase.

In [ ]:
Sobrevive = titanic[titanic['Sobrevivi'] == 1]
Clase1 = Sobrevive[Sobrevive['Clase'] == 1]
Clase2 = Sobrevive[Sobrevive['Clase'] == 2]
Clase3 = Sobrevive[Sobrevive['Clase'] == 3]
numero = input("Por favor, dime el nº de la clase 1,2 o 3: ")
# Convertir la entrada a un número entero
numero = int(numero)
if numero == 1:
    #Bucle para contar los de 1º clase
    print(f"Pasajeros de la Clase 1:")
    for _ in Clase1['Sobrevivi']:
        for nombre in Clase1['Nombre']:
            print(nombre)
else:
    if numero == 2:
        #Bucle para contar los de 1º clase
        print(f"Pasajeros de la Clase 2:")
        for _ in Clase2['Sobrevivi']:
            for nombre in Clase2['Nombre']:
                print(nombre)
    else:
        if numero == 3:
            #Bucle para contar los de 1º clase
            print(f"Pasajeros de la Clase 3:")
            for _ in Clase3['Sobrevivi']:
                for nombre in Clase3['Nombre']:
                    print(f"Nombre {nombre}")
        else:  # Este 'else' corregido
            print('error')

Calcular la tarifa promedio para hombres y mujeres en cada clase.

In [8]:
print(titanic.head(5))

   Id_pasaj  Sobrevivi  Clase  \
0         1          0      3
1         2          1      1
2         3          1      3
3         4          1      1
4         5          0      3

                                              Nombre    Sexo  Edad  \
0                            Braund, Mr. Owen Harris    male  22.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2                             Heikkinen, Miss. Laina  female  26.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4                           Allen, Mr. William Henry    male  35.0

   Hermanos/esposos_a_bordo  Padres/hijos_a_bordo           Billete   Tarifa  \
0                         1                     0         A/5 21171   7.2500
1                         1                     0          PC 17599  71.2833
2                         0                     0  STON/O2. 3101282   7.9250
3                         1                     0            113803  53.1000
4                         0                     0            373450   8.0500

    Cabina Embarcado  MayorDeEdad
0  B96 B98         S         True
1      C85         C         True
2  B96 B98         S         True
3     C123         S         True
4  B96 B98         S         True

In [11]:
Sobrevive = titanic[titanic['Sobrevivi'] == 1]
Clase1 = Sobrevive[Sobrevive['Clase'] == 1]
Clase2 = Sobrevive[Sobrevive['Clase'] == 2]
Clase3 = Sobrevive[Sobrevive['Clase'] == 3]
Mujeres = titanic[titanic['Sexo'] == 'female']
Hombres = titanic[titanic['Sexo'] == 'male']
Tarifa =  titanic['Tarifa']

numero = input("Por favor, dime el nº de la clase 1,2 o 3: ")
# Convertir la entrada a un número entero
numero = int(numero)

if numero == 1:
    print("Clase 1")
    # Filtra mujeres y hombres de la clase 1
    Mujeres_Clase1 = Clase1[Clase1['Sexo'] == 'female']
    Hombres_Clase1 = Clase1[Clase1['Sexo'] == 'male']

    # Calcula el promedio de la tarifa para mujeres de la clase 1
    promedioM_Clase1 = Mujeres_Clase1['Tarifa'].mean()

    # Calcula el promedio de la tarifa para hombres de la clase 1
    promedioH_Clase1 = Hombres_Clase1['Tarifa'].mean()

    # Imprime los promedios para la clase 1
    print(f"Tarifa promedio para mujeres (Clase 1): {promedioM_Clase1:.2f}")
    print(f"Tarifa promedio para hombres (Clase 1): {promedioH_Clase1:.2f}")

elif numero == 2:
    print("Clase 2")
    # Filtra mujeres y hombres de la clase 1
    Mujeres_Clase2 = Clase2[Clase2['Sexo'] == 'female']
    Hombres_Clase2 = Clase2[Clase2['Sexo'] == 'male']

    # Calcula el promedio de la tarifa para mujeres de la clase 1
    promedioM_Clase2 = Mujeres_Clase2['Tarifa'].mean()

    # Calcula el promedio de la tarifa para hombres de la clase 1
    promedioH_Clase2 = Hombres_Clase2['Tarifa'].mean()

    # Imprime los promedios para la clase 1
    print(f"Tarifa promedio para mujeres (Clase 2): {promedioM_Clase2:.2f}")
    print(f"Tarifa promedio para hombres (Clase 2): {promedioH_Clase2:.2f}")

elif numero == 3:
    print("Clase 3")
    # Filtra mujeres y hombres de la clase 1
    Mujeres_Clase3 = Clase3[Clase3['Sexo'] == 'female']
    Hombres_Clase3 = Clase3[Clase3['Sexo'] == 'male']

    # Calcula el promedio de la tarifa para mujeres de la clase 1
    promedioM_Clase3 = Mujeres_Clase3['Tarifa'].mean()

    # Calcula el promedio de la tarifa para hombres de la clase 1
    promedioH_Clase3 = Hombres_Clase3['Tarifa'].mean()

    # Imprime los promedios para la clase 1
    print(f"Tarifa promedio para mujeres (Clase 3): {promedioM_Clase3:.2f}")
    print(f"Tarifa promedio para hombres (Clase 3): {promedioH_Clase3:.2f}")

else:
    print("error")

Por favor, dime el nº de la clase 1,2 o 3: 2
Clase 2
Tarifa promedio para mujeres (Clase 2): 22.29
Tarifa promedio para hombres (Clase 2): 21.10

In [17]:
media_edad = titanic['Edad'].mean()
print(media_edad)
#Completar la edad con 29 años, los valores nan
titanic['Edad'] = titanic['Edad'].fillna(29)

29.64209269662921

In [18]:
conteo_valores = titanic['Edad'].value_counts()
print(conteo_valores)

Edad
29.00    197
24.00     30
22.00     27
18.00     26
30.00     25
        ...
36.50      1
55.50      1
0.92       1
23.50      1
74.00      1
Name: count, Length: 88, dtype: int64

Identificar el pasajero más joven y más viejo en cada lugar de embarque.

In [24]:
#Nom Variable, csv   csv    columna    datos a buscar
EmbarqueC = titanic[titanic['Embarcado'] == 'C']
EmbarqueS = titanic[titanic['Embarcado'] == 'S']
EmbarqueQ = titanic[titanic['Embarcado'] == 'Q']

# 4. Encontrar el índice del pasajero más joven
indice_min_edad = titanic['Edad'].idxmin()
# 5. Obtener la fila del pasajero más joven
pasajero_mas_joven = titanic.loc[indice_min_edad]
# Econtrar ind mas mayor
indice_max_edad = titanic['Edad'].idxmax()
# obtener fila pasajero mayor
pasajero_mas_viejo = titanic.loc[indice_max_edad]

verFilaJove = titanic.loc[indice_min_edad]
verFilaMayor = titanic.loc[indice_max_edad]
print(verFilaJove)
print("##########")
print(verFilaMayor)

Id_pasaj                                                804
Sobrevivi                                                 1
Clase                                                     3
Nombre                      Thomas, Master. Assad Alexander
Sexo                                                   male
Edad                                                   0.42
Hermanos/esposos_a_bordo                                  0
Padres/hijos_a_bordo                                      1
Billete                                                2625
Tarifa                                               8.5167
Cabina                                              B96 B98
Embarcado                                                 C
MayorDeEdad                                           False
Name: 802, dtype: object
##########
Id_pasaj                                                     631
Sobrevivi                                                      1
Clase                                                          1
Nombre                      Barkworth, Mr. Algernon Henry Wilson
Sexo                                                        male
Edad                                                        80.0
Hermanos/esposos_a_bordo                                       0
Padres/hijos_a_bordo                                           0
Billete                                                    27042
Tarifa                                                      30.0
Cabina                                                       A23
Embarcado                                                      S
MayorDeEdad                                                 True
Name: 629, dtype: object

In [13]:
conteo_valores = titanic['Embarcado'].value_counts()
nombres_columnas = titanic.columns.tolist()
print(conteo_valores)
print(nombres_columnas)

Embarcado
S    644
C    168
Q     77
Name: count, dtype: int64
['Id_pasaj', 'Sobrevivi', 'Clase', 'Nombre', 'Sexo', 'Edad', 'Hermanos/esposos_a_bordo', 'Padres/hijos_a_bordo', 'Billete', 'Tarifa', 'Cabina', 'Embarcado', 'MayorDeEdad']

**Ejercicio 1: Distribución de edades en sobrevivientes y no sobrevivientes**

Calcula la edad promedio de los sobrevivientes (Sobrevivi == 1) y los no sobrevivientes (Sobrevivi == 0) utilizando un bucle for.

Usa un if para verificar si la edad promedio de los sobrevivientes es mayor que la de los no sobrevivientes y muestra un mensaje indicando cuál es mayor.

Cuenta cuántos menores de edad (edad < 18) hay en cada grupo (sobrevivientes y no sobrevivientes).

**Ejercicio 2: Análisis de género en sobrevivientes por clase**

Filtra los pasajeros sobrevivientes y utiliza un for para iterar por las clases (Clase).

Dentro del bucle, utiliza otro for para contar cuántos hombres y mujeres sobrevivieron en cada clase.

Muestra el porcentaje de hombres y mujeres sobrevivientes en cada clase.

**Ejercicio 3: Análisis de tarifas y embarque**

Para cada lugar de embarque (Embarked), calcula el promedio de la tarifa (Tarifa) pagada por los pasajeros utilizando un bucle.

Identifica al pasajero que pagó la tarifa más alta en cada lugar de embarque.

Muestra cuántos pasajeros embarcaron en cada lugar y cuál es la tarifa promedio total de ese lugar.

**Ejercicio 4: Identificar extremos en edades por género y clase**

Encuentra la edad mínima y máxima para hombres y mujeres en cada clase utilizando for y if.

Calcula cuántos pasajeros en el rango de edad más joven sobrevivieron en cada clase.

Identifica si hay alguna clase donde todos los pasajeros mayores de 50 años sobrevivieron.